<h1>Listing región_militar</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Himno</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @region_militar.each do |region_militar| %>
      <tr>
        <td><%= region_militar.nombre %></td>
        <td><%= region_militar.descripcion %></td>
        <td><%= region_militar.himno %></td>
        <td><%= link_to 'Show', region_militar %></td>
        <td><%= link_to 'Edit', edit_region_militar_path(region_militar) %></td>
        <td><%= link_to 'Destroy', region_militar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Region militar', new_region_militar_path %>
