<h1>Indice de Unidades</h1>

<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Gran unidad</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @unidades.each do |unidad| %>
      <tr>
        <td><%= link_to unidad[1], unidad_path(unidad[0]) %></td>
        <td><%= unidad[2] %></td>
        <td><%= link_to 'Editar', edit_unidad_path(unidad[0]) %></td>
        <td><%= link_to 'Eliminar', unidad_path(unidad[0]), method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unidad', new_unidad_path %>
