<h1>Unidades</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Gran unidad</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @unidad.each do |unidad| %>
      <tr>
        <td><%= link_to unidad.nombre, unidad %></td>
        <td><%= unidad.gran_unidad.nombre %></td>
        <td><%= link_to 'Editar', edit_unidad_path(unidad) %></td>
        <td><%= link_to 'Eliminar', unidad, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unidad', new_unidad_path %>
