<h1>Listing unidad</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Himno</th>
      <th>Lema</th>
      <th>Gran unidad</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @unidad.each do |unidad| %>
      <tr>
        <td><%= unidad.nombre %></td>
        <td><%= unidad.descripcion %></td>
        <td><%= unidad.himno %></td>
        <td><%= unidad.lema %></td>
        <td><%= unidad.gran_unidad %></td>
        <td><%= link_to 'Show', unidad %></td>
        <td><%= link_to 'Edit', edit_unidad_path(unidad) %></td>
        <td><%= link_to 'Destroy', unidad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unidad', new_unidad_path %>
