<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <h1><%= @unidad.nombre %></h1>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= raw @unidad.descripcion %>
</p>

<p>
  <strong>Himno:</strong>
  <%= raw @unidad.himno %>
</p>

<p>
  <strong>Lema:</strong>
  <%= @unidad.lema %>
</p>

<p>
  <strong>Gran unidad:</strong>
  <%= link_to @unidad.gran_unidad.nombre, @unidad.gran_unidad %>
</p>

<%= link_to 'Edit', edit_unidad_path(@unidad) %> |
<%= link_to 'Back', unidad_index_path %>
