<h1>Lista de Vehículos</h1>

<table  class="table table-striped">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Tipo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vehiculos.each do |vehiculo| %>
      <tr>
        <td class="col-xs-3 col-md-2"><%= image_tag "vehiculos/"+vehiculo.imagen_url, alt: vehiculo.imagen_url, class: "img-responsive img-thumbnail" %></td>
        <td><%= link_to vehiculo.nombre, vehiculo %></td>
        <td><%= truncate(vehiculo.descripcion, length: 100 )%></td>
        <td><%= vehiculo.tipo_vehiculo.nombre %></td>
        <td><%= link_to 'Edit', edit_vehiculo_path(vehiculo) %></td>
        <td><%= link_to 'Destroy', vehiculo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arma ligera', new_vehiculo_path %>
