<h1>Armas Ligeras</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Tipo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @arma_ligera.each do |arma_ligera| %>
      <tr>
        <td><%= link_to arma_ligera.armamento.nombre, arma_ligera %></td>
        <td><%= truncate(arma_ligera.armamento.descripcion, length: 75 )%></td>
        <td><%= arma_ligera.armamento.tipo_armamento.nombre %></td>
        <td><%= link_to 'Edit', edit_arma_ligera_path(arma_ligera) %></td>
        <td><%= link_to 'Destroy', arma_ligera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arma ligera', new_arma_ligera_path %>
