<p id="notice"><%= notice %></p>

<p>
  <h3>
  <div class="row">
    <div class="col-md-2">
    <%= link_to '<<Anterior', arma_ligera_path( anterior(@secuencia, @arma_ligera.id)) %>
    </div>
    <div class="col-md-8 text-center"><%= @arma_ligera.armamento.nombre %></div>
    <div class="col-md-2 text-right"><%= link_to 'Siguiente>>', arma_ligera_path( siguiente(@secuencia, @arma_ligera.id)) %></div>
  </div>
  </h3>
</p>

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-body">


    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li><a href="#imagen" data-toggle="tab">Imagen</a></li>
      <li><a href="#video" data-toggle="tab">Video</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="imagen">
        <p>
          <%= image_tag "armas_ligeras/"+@arma_ligera.armamento.imagen_url, alt: @arma_ligera.armamento.imagen_url, class: "img-responsive img-thumbnail"%>
        </p>
      </div>
      <div class="tab-pane" id="video">
        <p>
        <iframe class="video-responsive" src="//www.youtube.com/embed/L9apXjni7Mw" frameborder="0" allowfullscreen></iframe>
        </p>
      </div>
    </div>
    <!-- End Tab panes -->
          </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Descripción</div>
      <div class="panel-body">
        <p>
          <%= @arma_ligera.armamento.descripcion %>
        </p>

      </div>
    </div>


  </div>
  <div class="col-md-5">
    <div class="panel panel-primary">
      <div class="panel-heading">Detalles</div>
        <div class="panel-body">
          <p>
            <strong>Peso:</strong>
            <%= @arma_ligera.armamento.peso %> gramos
          </p>
          <p>
            <strong>Longitud:</strong>
            <%= @arma_ligera.armamento.longitud %> mm
          </p>

          <p>
            <strong>Munición:</strong>
            <%= @arma_ligera.armamento.municion %>
          </p>

          <p>
            <strong>Pais:</strong>
            <%= image_tag "paises/"+@arma_ligera.armamento.pais.imagen_url%>
            <%= @arma_ligera.armamento.pais.nombre %>
          </p>

          <p>
            <strong>Tipo:</strong>
            <%= @arma_ligera.armamento.tipo_armamento.nombre %>
          </p>

          <!--  -->
          <p>
            <strong>Alcance efectivo:</strong>
            <%= @arma_ligera.alcance_efectivo %> metros
          </p>

          <p>
            <strong>Alcance max:</strong>
            <%= @arma_ligera.alcance_max %> metros
          </p>

          <p>
            <strong>Cadencia:</strong>
            <%= @arma_ligera.cadencia %>
          </p>

          <p>
            <strong>Sistema disparo:</strong>
            <%= @arma_ligera.sistema_disparo %>
          </p>

          <p>
            <strong>Cargador:</strong>
            <%= @arma_ligera.cargador %>
          </p>
        </div><!-- fin panel body -->

    </div><!-- fin panel -->
  </div><!-- fin col-md-5 -->
</div><!-- fin row -->
<%= link_to 'Edit', edit_arma_ligera_path(@arma_ligera) %> |
<%= link_to 'Back', arma_ligera_index_path %>

<script type="text/javascript">
  $('#imagen a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
  $('#video a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
