<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @region_militar.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @region_militar.descripcion %>
</p>

<p>
  <strong>Himno:</strong>
  <%= @region_militar.himno %>
</p>

<%= link_to 'Edit', edit_region_militar_path(@region_militar) %> |
<%= link_to 'Back', region_militars_path %>
