<p id="notice"><%= notice %></p>

<p>
  <h1><%= @curso.nombre %></h1>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @curso.descripcion %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @curso.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @curso.duracion %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @curso.lugar %>
</p>

<%= link_to 'Edit', edit_curso_path(@curso) %> |
<%= link_to 'Back', cursos_path %>
