<h1>Indice de Grandes Unidades</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Region militar</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gran_unidad.each do |gran_unidad| %>
      <tr>
        <td><%= link_to gran_unidad.nombre, gran_unidad %></td>
        <td><%= gran_unidad.region_militar.nombre %></td>
        <td><%= link_to 'Editar', edit_gran_unidad_path(gran_unidad) %></td>
        <td><%= link_to 'Eliminar', gran_unidad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gran unidad', new_gran_unidad_path %>
