<p id="notice"><%= notice %></p>
<p>
  <strong>Nombre:</strong>
  <h1><%= @gran_unidad.nombre %></h1>
</p>

<ul>
  <li><a href="#himno">Himno</a> </li>
  <li><a href="#grandes_unidades">Grandes Unidades</a> </li>
  <ul>
    <%= link_to 'Anterior', anterior(@gran_unidad) %>
    <%= link_to 'Siguiente', siguiente(@gran_unidad) %>
  </ul>
</ul>


<p>
  <strong>Descripcion:</strong>
  <%= raw @gran_unidad.descripcion %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @gran_unidad.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @gran_unidad.fecha_fin %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @gran_unidad.lugar %>
</p>

<p>
  <strong>Region militar:</strong>
  <%= link_to @gran_unidad.region_militar.nombre,  @gran_unidad.region_militar %>
</p>

<div id="unidades">
  <strong>Grandes Unidades:</strong>
  <ul>
    <% @unidades.each do |unidad| %>
      <li><%= link_to unidad.nombre, unidad %></li>
    <% end %>
  </ul>
</div>
<div>
<a href="#inicio">Regresar</a>
</div>

<%= link_to 'Edit', edit_gran_unidad_path(@gran_unidad) %> |
<%= link_to 'Back', gran_unidad_index_path %>
