<%= form_for(@cuartel) do |f| %>
  <% if @cuartel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cuartel.errors.count, "error") %> prohibited this cuartel from being saved:</h2>

      <ul>
      <% @cuartel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :distrito %><br>
    <%= f.text_field :distrito %>
  </div>
  <div class="field">
    <%= f.label :localizacion %><br>
    <%= f.text_field :localizacion %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :himno %><br>
    <%= f.text_area :himno %>
  </div>
  <div class="field">
    <%= f.label :lema %><br>
    <%= f.text_area :lema %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
