<p id="notice"><%= notice %></p>

<p id="inicio">
  <h3>
  <div class="row">
    <div class="col-md-2">
    <%= link_to '<<Anterior', cuartel_path( anterior(@secuencia, @cuartel.id)) %>
    </div>
    <div class="col-md-8 text-center"><%= @cuartel.nombre %></div>
    <div class="col-md-2 text-right"><%= link_to 'Siguiente>>', cuartel_path( siguiente(@secuencia, @cuartel.id)) %></div>
  </div>
  </h3>
</p>



<ul>
  <li><a href="#lema">Lema</a> </li>
  <li><a href="#himno">Himno</a> </li>
  <li><a href="#personal">Personal</a> </li>
</ul>

<div class="panel panel-success">
  <div class="panel-heading">Descripción:</div>
  <div class="panel-body">
    <%= raw @cuartel.descripcion %>
  </div>
</div>


<div class="panel panel-success" id="lema">
  <div class="panel-heading">Lema:</div>
  <div class="panel-body">
    <%= raw @cuartel.lema %>
  </div>
</div>

<div class="panel panel-success" id="himno">
  <div class="panel-heading">Himno:</div>
  <div class="panel-body">
    <%= raw @cuartel.himno %>
  </div>
</div>


<div class="panel panel-success" id="distrito">
  <div class="panel-heading">Distrito:</div>
  <div class="panel-body">
    <%= raw @cuartel.distrito %>
  </div>
</div>

<div class="panel panel-success" id="localizacion">
  <div class="panel-heading">Localización:</div>
  <div class="panel-body">
    <%= raw @cuartel.localizacion %>
  </div>
</div>

<div class="panel panel-success" id="personal">
  <div class="panel-heading">Personal:</div>
  <div class="panel-body">
    <ul>
      <% @personal.each do |personal| %>
        <li><%= link_to personal.get_apellidos_nombres, personal %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-success" id="vehiculos">
  <div class="panel-heading">Armamento:</div>
  <div class="panel-body">
    <ul>
      <% @armamento.each do |armamento| %>
        <li><%= armamento['cantidad']%> - <%= link_to armamento['nombre'], arma_ligera_path(armamento['armamento_id']) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-success" id="vehiculos">
  <div class="panel-heading">Vehículos:</div>
  <div class="panel-body">
    <ul>
      <% @vehiculos.each do |vehiculo| %>
        <li><%= vehiculo['cantidad']%> - <%= link_to vehiculo['nombre'], vehiculo_path(vehiculo['vehiculo_id']) %></li>
      <% end %>
    </ul>
  </div>
</div>


<%= link_to 'Edit', edit_cuartel_path(@cuartel) %> |
<%= link_to 'Regresar al menu', '#inicio' %> |
<%= link_to 'Volver a la Lista', cuarteles_path %>
