<p id="notice"><%= notice %></p>
<ul>
  <li><%= link_to 'Anterior', cuartel_path( anterior(@secuencia,  @cuartel.id) )%></li>
  <li><%= link_to 'Siguiente', cuartel_path( siguiente(@secuencia,  @cuartel.id) ) %></li>
</ul>
<p>
  <strong>Nombre:</strong>
  <%= @cuartel.nombre %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @cuartel.distrito %>
</p>

<p>
  <strong>Localizacion:</strong>
  <%= @cuartel.localizacion %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= raw @cuartel.descripcion %>
</p>

<p>
  <strong>Himno:</strong>
  <%= @cuartel.himno %>
</p>

<p>
  <strong>Lema:</strong>
  <%= @cuartel.lema %>
</p>

<%= link_to 'Edit', edit_cuartel_path(@cuartel) %> |
<%= link_to 'Back', cuarteles_path %>
