<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Apellidos y Nombres</th>
      <th>Grupo Sanguíneo</th>
      <th>Factor RH</th>
      <th>Unidad</th>
      <th>Cuartel</th>
    </tr>
  </thead>

  <tbody>
    <% @personal.each do |personal| %>
      <tr>
        <td><%= link_to personal.get_apellidos_nombres , personal%></td>
        <td><%= personal.grupo_sanguineo %></td>
        <td><%= personal.get_factor_rh %></td>
        <td><%= personal.unidad.nombre %></td>
        <td><%= personal.cuartel.nombre %></td>
      </tr>
    <% end %>
  </tbody>
</table>