<% #@secuencia.inspect %>
<div class="text-center">
<%= "Registro #{@secuencia.index((params[:id].to_i))+1} de #{ @secuencia.size }" %>
</div>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-offset-1">
  <p>
    <h1><%= @persona.get_apellidos_nombres %></h1>
  </p>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <%= link_to 'Anterior' , por_grupo_sanguineo_show_path(params[:grupo_sanguineo], anterior(@secuencia, params[:id]) )%>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Nro carnet militar:</strong>
      <%= @persona.nro_carnet_militar %>
    </p>
    <p>
      <strong>Dni:</strong>
      <%= @persona.dni %>
    </p>

    <hr/>

    <p>
      <strong>Cuartel:</strong>
      <%= link_to @persona.cuartel.nombre, @persona.cuartel %>
    </p>

    <p>
      <strong>Unidad:</strong>
      <%= link_to @persona.unidad.nombre, @persona.unidad %>
    </p>

    <p>
      <strong>Distrito:</strong>
      <%= @persona.distrito %>
    </p>

     <hr/>
    <p>
      <strong>Fecha nacimiento:</strong>
      <%= @persona.fecha_nacimiento %>
    </p>

    <p>
      <strong>Sexo:</strong>
      <%= @persona.get_sexo %>
    </p>
    <p>
      <strong>Grupo sanguineo:</strong>
      <%= @persona.grupo_sanguineo %>
    </p>

    <p>
      <strong>Factor rh:</strong>
      <%= @persona.get_factor_rh %>
    </p>
    <p>
      <strong>Direccion:</strong>
      <%= @persona.direccion %>
    </p>

    <p>
      <strong>Telefono:</strong>
      <%= @persona.telefono %>
    </p>
    <!-- Alergias del personal -->
    <hr/>
    <h4>Cursos:</h4>
    <h4>Alergias:</h4>
    <% unless @alergias.size == 0 %>
      <% @alergias.each do |alergia| %>
        <%= alergia.nombre %>
      <% end %>
    <% else %>
      <%= "Ninguna conocida." %>
    <% end %>
    <h4>Infracciones:</h4>
    <!-- Fin Alergias del personal -->
  </div>
  <div class="col-md-4">

    <!-- http://placehold.it/300x280.gif -->
    <img  class="img-responsive" src="/assets/300x280.gif">

    <hr/>
    <p>
      <strong>Color cabello:</strong>
      <%= @persona.color_cabello %>
    </p>
    <p>
      <strong>Color ojos:</strong>
      <%= @persona.color_ojos %>
    </p>

    <p>
      <strong>Talla:</strong>
      <%= @persona.talla %>
    </p>

    <p>
      <strong>Peso:</strong>
      <%= @persona.peso %>
    </p>
  </div>
  <div class="col-md-1">
    <img class="img-responsive" src="<%="/assets/huellas_digitales/#{params[:id]}.jpeg" %>" >
  </div>
  <div class="col-md-1 col-xs-1">
    <%= link_to 'Siguiente' ,  por_grupo_sanguineo_show_path(params[:grupo_sanguineo], siguiente(@secuencia, params[:id]) )%>
  </div>

</div>
