<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-offset-1">
  <p>
    <h1><%= @personal.get_apellidos_nombres %></h1>
  </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <p>
      <strong>Nro carnet militar:</strong>
      <%= @personal.nro_carnet_militar %>
    </p>
    <p>
      <strong>Dni:</strong>
      <%= @personal.dni %>
    </p>

    <hr/>

    <p>
      <strong>Cuartel:</strong>
      <%= link_to @personal.cuartel.nombre, @personal.cuartel %>
    </p>

    <p>
      <strong>Unidad:</strong>
      <%= link_to @personal.unidad.nombre, @personal.unidad %>
    </p>

    <p>
      <strong>Distrito:</strong>
      <%= @personal.distrito %>
    </p>

     <hr/>
    <p>
      <strong>Fecha nacimiento:</strong>
      <%= @personal.fecha_nacimiento %>
    </p>

    <p>
      <strong>Sexo:</strong>
      <%= @personal.get_sexo %>
    </p>
    <p>
      <strong>Grupo sanguineo:</strong>
      <%= @personal.grupo_sanguineo %>
    </p>

    <p>
      <strong>Factor rh:</strong>
      <%= @personal.get_factor_rh %>
    </p>
    <p>
      <strong>Direccion:</strong>
      <%= @personal.direccion %>
    </p>

    <p>
      <strong>Telefono:</strong>
      <%= @personal.telefono %>
    </p>

  </div>
  <div class="col-md-4">


    <img src="http://placehold.it/300x280" alt="foto">
    <hr/>
    <p>
      <strong>Color cabello:</strong>
      <%= @personal.color_cabello %>
    </p>
    <p>
      <strong>Color ojos:</strong>
      <%= @personal.color_ojos %>
    </p>

    <p>
      <strong>Talla:</strong>
      <%= @personal.talla %>
    </p>

    <p>
      <strong>Peso:</strong>
      <%= @personal.peso %>
    </p>




  </div>

  <div class="col-md-2">
  </div>
</div>
