<p id="notice"><%= notice %></p>


<p>
  <strong>Nombres y Apellidos:</strong>
    <h1><%= @personal.apellidos %>, <%= @personal.nombres %></h1>
</p>


<p>
  <strong>Cuartel:</strong>
  <%= link_to @personal.cuartel.nombre, @personal.cuartel %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= link_to @personal.unidad.nombre, @personal.unidad %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @personal.distrito %>
</p>
<p>
  <strong>Dni:</strong>
  <%= @personal.dni %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @personal.fecha_nacimiento %>
</p>

<p>
  <strong>Nro carnet militar:</strong>
  <%= @personal.nro_carnet_militar %>
</p>

<p>
  <strong>Grupo sanguineo:</strong>
  <%= @personal.grupo_sanguineo %>
</p>

<p>
  <strong>Factor rh:</strong>
  <%= @personal.factor_rh %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @personal.sexo %>
</p>

<p>
  <strong>Talla:</strong>
  <%= @personal.talla %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @personal.peso %>
</p>

<p>
  <strong>Color ojos:</strong>
  <%= @personal.color_ojos %>
</p>

<p>
  <strong>Color cabello:</strong>
  <%= @personal.color_cabello %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @personal.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @personal.telefono %>
</p>

<%= link_to 'Edit', edit_personal_path(@personal) %> |
<%= link_to 'Back', personal_index_path %>
