<!DOCTYPE html>
<html>
<head>
  <title>Milicia</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "partials/navbar" %>

<%= yield %>


<hr/>
<div id='por_cuartel'>
	<% @cuarteles = Cuartel.all %>
    <% @cuarteles.each do |cuartel| %>
    <ul>
        <li><%= link_to cuartel.nombre, por_cuartel_path(cuartel.id) %></li>
    </ul>
    <% end %>
</div>

<%= render "partials/footer" %>
</body>
</html>
