<!DOCTYPE html>
<html>
<head>
  <title>Milicia</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
	<ul>
		<li><%= link_to 'Regiones Militares', region_militar_index_path  %></li>
		<li><%= link_to 'Grandes Unidades', gran_unidad_index_path  %></li>
		<li><%= link_to 'Unidades', unidad_index_path  %></li>
		<li><%= link_to 'Cuarteles', cuarteles_path %></li>
		<li><%= link_to 'Personal', personal_index_path %></li>
	</ul>
</div>
<%= yield %>

</body>
</html>
