<!DOCTYPE html>
<html>
<head>
  <title>Milicia</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <!-- javascript_include_tag "application", "data-turbolinks-track" => true -->
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "partials/navbar" %>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="container">

    <ol class="breadcrumb">
      <% unless @breadcrumb.nil? %>
        <% @breadcrumb.each do |breadcrumb| %>
        <!-- link_to breadcrumb[:nombre].to_s,  breadcrumb[:url] -->
          <li>
            <a href="<%= breadcrumb[:url] %>">
              <%=breadcrumb[:nombre]%>
            </a>
          </li>
        <% end %>
      <% end %>
    </ol>
    <%= yield %>
  </div>
    <%= render "partials/footer" %>
</body>
</html>
